.box{
  background-color: #636e72;
  padding: 20px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}
.left-align{
  text-align: left;
}
.bottom-margin{
  margin-bottom: 20px;
}
body{
  background-color: #282c34 !important;
}
h1{
  text-align: center;
}
.align{
  text-align: center;
}
.table{
  margin-top: 20px;
  color: white !important;
  background-color: #636e72;
  border-radius: 20px;
  padding: 20px;
}
.item{
  padding: 10px;
  border: white 1px solid !important;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right !important;
}
.header{
  background-color: white !important;
  color: #636e72 !important;
}
.border-box{
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}